%h1
  Мобильное приложение ЧГУ

%p
  Панель управления


%ul
  %li= link_to "Вход для управления", new_user_session_path
  %li= link_to "Скачать приложение", "https://play.google.com/store/apps/details?id=com.greengrass.chuvsu.app"
