%h1
  Мобильное приложение ЧГУ

%p
  Панель управления


%ul
  - if current_user.nil?
    %li= link_to "Вход для управления", new_user_session_path
  -else 
    %li= current_user.email
    %li= link_to "Выход", destroy_user_session_path, :method => :delete 

  %li= link_to "Скачать приложение", "https://play.google.com/store/apps/details?id=com.greengrass.chuvsu.app", target: "_blank"
