%hr

%h1
  Расписание факультетов

- @facults.each do |facult|
  .facult-item
    %h2.title
      =link_to facult.name, facult
    .url
      = link_to facult.url, facult.url
    .logo
      =image_tag facult.logo

    = link_to 'Edit', edit_facult_path(facult)
    = link_to 'Destroy', facult, :method => :delete, :data => { :confirm => 'Are you sure?' }



%hr
= link_to 'New Facult', new_facult_path
