.facult-item {
  float: left;
  background: #f7f7f7;
  height: 250px;
  width: 200px;
  margin: 10px 25px;
  padding: 1px;
  text-align: center;
  border: 1px solid #AAA;


  .title {
    background-color: #a8a8a8;
    font-size: 17px;
    padding: 5px 10px;
  }

  .url {}
  .logo {}

}
